<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyf.dubbowechat.mapper.DepartmentMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qyf.dubbowechat.entity.Department">
		<id column="deptId" property="deptId" />
		<result column="dept" property="dept" />
		<result column="level" property="level" />
		<result column="leader" property="leader" />
		<result column="state" property="state" />
		<result column="created" property="created" />
		<result column="updated" property="updated" />
		<result column="creator" property="creator" />
		<result column="mender" property="mender" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept, deptId AS deptId, level, leader, state, created, updated, creator, mender
    </sql>

</mapper>
