<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyf.dubbowechat.mapper.SupplementcardMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qyf.dubbowechat.entity.Supplementcard">
		<id column="numid" property="numid" />
		<result column="applydate" property="applydate" />
		<result column="applyuser" property="applyuser" />
		<result column="name" property="name" />
		<result column="deptid" property="deptid" />
		<result column="supplementdate" property="supplementdate" />
		<result column="reason" property="reason" />
		<result column="deptopinion" property="deptopinion" />
		<result column="hropinion" property="hropinion" />
		<result column="state" property="state" />
		<result column="processid" property="processid" />
		<result column="processname" property="processname" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        numid, applydate, applyuser, name, deptid, supplementdate, reason, deptopinion, hropinion, state, processid, processname
    </sql>

</mapper>
